<footer>
    <section>
        <h3>{{footer.more.title}}</h3>
        <nav>
            <a href="{{footer.more.games.target}}">{{footer.more.games.label}}</a>
            <a href="{{footer.more.levels.target}}">{{footer.more.levels.label}}</a>
        </nav>
    </section>
    <section>
        <h3>{{footer.about.title}}</h3>
        <nav>
            <a href="{{footer.about.who-we-are.target}}">{{footer.about.who-we-are.label}}</a>
            <a href="{{footer.about.ios.target}}">{{footer.about.ios.label}}</a>
            <a href="{{footer.about.terms-of-service.target}}">{{footer.about.terms-of-service.label}}</a>
        </nav>
    </section>
    <section>
        <h3>{{footer.like.title}}</h3>
        <nav>
            <a href="{{footer.like.presskit.target}}" download>{{footer.like.presskit.label}}</a>
        </nav>
    </section>
    <section class="credits">
        <p>Design <a href="http://audreyhacq.tumblr.com">Audrey Hacq</a></p>
        <p>Site <a href="https://www.linkedin.com/in/laurentjanet/">Laurent Janet</a></p>
    </section>
</footer>