<footer>
    <section>
        <h3>{{footer.more.title}}</h3>
        <nav>
            <a href="{{footer.more.games.target}}">{{footer.more.games.label}}</a>
            <a href="{{footer.more.levels.target}}">{{footer.more.levels.label}}</a>
        </nav>
    </section>
    <section>
        <h3>{{footer.about.title}}</h3>
        <nav>
            <a href="">{{footer.about.whoarewe}}</a>
            <a href="">{{footer.about.ios}}</a>
            <a href="">{{footer.about.android}}</a>
        </nav>
    </section>
    <section>
        <h3>{{footer.like.title}}</h3>
        <nav>
            <a href="">{{footer.like.presskit}}</a>
        </nav>
    </section>
    <section class="credits">
        <p>Design <a href="http://audreyhacq.tumblr.com">Audrey Hacq</a></p>
        <p>Site <a href="https://www.linkedin.com/in/laurentjanet/">Laurent Janet</a></p>
    </section>
</footer>