@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********************/
/***  TouchUp rules  ***/
/***********************/

* {
    box-sizing: border-box;
}

body {
    background-color: #3f3f54;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 21px 40px 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header text {
    font-size: 20px;
    font-weight: 500;
    fill: #FFF;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

body > section > .inside {
    max-width: 960px;
    padding: 0 10%;
    display: flex;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

p {
    font-weight: 300;
}

.catch-phrase {
    background-color: #48c8bc;
    height: 360px;
}

.catch-phrase .inside {
    align-items: flex-end;
    height: 100%;
}

.catch-phrase svg {
    flex-shrink: 0;
}

.catch-phrase section {
    margin-bottom: 127px;
}

.catch-phrase h1 {
    color: #3f3f54;
    margin-bottom: 10px;
    font-weight: 700;
}

.catch-phrase p {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    line-height: 45px;
}

.make-an-assessment .inside, .keep-or-trash  .inside, .group-them-all  .inside {
    height: 550px;
}

.make-an-assessment .inside, .keep-or-trash .inside, .group-them-all .inside {
    align-items: center;
    justify-content: space-between;
}

.make-an-assessment, .group-them-all {
    background-color: #f0f5f8;
    color: #3f3f54;
}

.make-an-assessment .content-block {
    margin-right: 5%;
}

.keep-or-trash .content-block, .group-them-all .content-block {
    margin-left: 90px;
}

.backup {
    background-color: #25c6da;
    text-align: center;
}

.backup .inside {
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

.backup svg {
    margin-bottom: 50px;
}

.backup h2 {
    margin-bottom: 30px;
}

.backup p {
    max-width: 600px;
}

.content-block p {
    max-width: 500px;
}

.content-block svg {
    margin-bottom: 40px;
}

.phone {
    flex-shrink: 0;
    width: 250px;
    height: 100%;
    background: url('images/img-phone-empty.png') transparent center no-repeat;
    background-size: 100%;
}