@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700');

/***********************/
/***  TouchUp rules  ***/
/***********************/

* {
    box-sizing: border-box;
}

body {
    background-color: #f0f5f8;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}