<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>TouchUp</title>
  <link rel="stylesheet" type="text/css" href="/<!-- inject:css -->">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
  <meta name="apple-itunes-app" content="app-id=id1128944336">
</head>
<body class="detail-container">
<header
    style="background-color:{{<%= type =>s.<%= name =>.bgColor}};background-image:url({{<%= type =>s.<%= name =>.bgImage}})">
    <div class="action-wrapper">
        <div class="touch-up-logo" id="list-touch-up-logo"></div>
        <a href="/">{{header.home}}</a>
        <nav class="lang-selector">
            <a href="/fr/<%= type =>s/<%= name =>.html">FR</a>
            <a href="/en/<%= type =>s/<%= name =>.html">EN</a>
        </nav>
    </div>
    <img src="{{<%= type =>s.<%= name =>.image}}" alt="{{<%= type =>s.<%= name =>.title}}"/>
</header>
<section role="main">
    <div class="wrapper">
      <nav>
        <a class="previous" href="{{<%= type =>s.<%= name =>.previous.href}}" alt="{{<%= type =>s.<%= name =>.previous.label}}">{{<%= type =>s.<%= name =>.previous.label}}</a>
        <a class="next" href="{{<%= type =>s.<%= name =>.next.href}}" alt="{{<%= type =>s.<%= name =>.next.label}}">{{<%= type =>s.<%= name =>.next.label}}</a>
      </nav>
      <h1>{{<%= type =>s.<%= name =>.title}}</h1>
      <h2 data-content="{{<%= type =>s.<%= name =>.subtitle}}">{{<%= type =>s.<%= name =>.subtitle}}</h2>
      <p>{{<%= type =>s.<%= name =>.description}}</p>
      <a href="{{ ios }}" class="download-btn">{{<%= type =>s.download}}</a>
      <iframe identifier="{{<%= type =>s.<%= name =>.video}}"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/{{<%= type =>s.<%= name =>.video}}"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
      <nav>
        <a class="previous" href="{{<%= type =>s.<%= name =>.previous.href}}" alt="{{<%= type =>s.<%= name =>.previous.label}}">{{<%= type =>s.<%= name =>.previous.label}}</a>
        <a class="next" href="{{<%= type =>s.<%= name =>.next.href}}" alt="{{<%= type =>s.<%= name =>.next.label}}">{{<%= type =>s.<%= name =>.next.label}}</a>
      </nav>
    </div>
</section>
<!-- inject:footer -->
<script src="/libs/bodymovin.light.min.js"></script>
<script src="/<!-- inject:js -->"></script>
</body>
</html>
