@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700');

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

/***********************/
/***  TouchUp rules  ***/
/***********************/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  right: 4%;
  width: 12px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  .item {
    display: block;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #ffffff;
    margin: 0 0 15px 0;
    cursor: pointer;
    will-change: background-color;
    transition: background-color .4s;
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);

    &--active {
      background-color: #2c2c3b;
    }
  }

  @media all and (min-width: 1025px) {
    .item {
      &:hover {
        background-color: #2c2c3b;
      }
    }
  }

  @media all and (max-width: 899px) {
    width: 20px;

    .item {
      width: 15px;
      height: 15px;
      margin-bottom: 30px;
      border-radius: 15px;
    }
  }
}

.slide-container {
  background-color: #48c8bc;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  width: 100vw; height: 100vh;
  overflow: hidden;

  .screens-container {
    width: 100vw;
    will-change: top;
    transition: top .4s, background-color .4s;

    .screens {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: 980px;
    }

    .phone {
      position: absolute;
      top: 50%; right: 10%;
      transform: translateY(-50%);
      width: 250px;
      height: 524px;
      margin-left: 100px;
      background: url("images/img-phone-empty@2x.png") no-repeat;
      background-size: contain;
      opacity: 0;
      transition: opacity .4s;

      &__mask {
        position: absolute;
        width: 210px; height: 373px;
        top: 77px; left: 21px;
        overflow: hidden;
      }

      &__images {
        height: calc(7 * 373px);
        transition: transform 1s;
      }

      img {
        display: block;
        width: 100%;
        height: 373px;
      }
    }

    &--active {
      top: 0;

      .phone {
        opacity: 1;
      }
    }

  }

  &--analyze .screens-container, &--keep .screens-container, &--forget .screens-container {
    background-color: #f0f5f8;
  }

  &--analyze, &--play, &--keep, &--be-afraid-of, &--forget {
    .phone {
      opacity: 1;
    }
  }

  &--play .screens-container {
    background-color: #1a509c;
  }

  &--be-afraid-of .screens-container {
    background-color: #25c6da;
  }

}

.section-container, .phone {
  display: inline-block;
  vertical-align: middle;
}

.section-container {
  height: 100vh;
  text-align: center;

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100vh;
    z-index: 0;
    will-change: top;
  }

  .screens > section {
    max-width: 50%;
  }

  h2 {
    font-weight: normal;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: calc(36px * 1.3);
  }

  p {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .call-to-action {
    color: #fff;
    padding: 14px 45px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    background-color: #48c8bc;
    box-shadow: 0 2px 0 rgba(58, 161, 150, 1);
  }

}

.take-care-of, .say {
  width: 100vw;
  padding: 0 10%;
  transition: transform .4s;
}

.take-care-of, .say {
  text-align: center;
  flex-direction: column;

  p {
    font-size: 45px;
    line-height: 58.5px;
  }
}

/*** Take care of ***/
.section-container .take-care-of {
  background-color: #48c8bc;
  transform: translate3d(0, 0, 0);
  top: 0;
}

/*** Analyze ***/

.analyze, .keep, .forget {
  color: #3f3f54;
}

.analyze, .play, .keep, .be-afraid-of, .forget {
  &.enter-up {
    opacity: 0;
    animation: enter .6s $easeOutCubic forwards, fade-in .8s forwards;

    p {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      animation: enter-inner .8s $easeOutCubic forwards, fade-in 1s .2s forwards;
    }

    span {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      animation: enter-inner 1s $easeOutCubic forwards, fade-in 1s .4s forwards;
    }
  }

  &.enter-down {
    opacity: 0;
    transform: translate3d(0, -100vh, 0);
    animation: fade-in 1s .2s forwards;
  }

  &.leaved-up {
    animation: fade-out .4s forwards;
  }

  &.leaved-down {
    opacity: 1;
    transform: translate3d(0, -100vh, 0);
    animation: leave .8s .1s $easeOutCubic forwards, fade-out 1s forwards;

    p {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      animation: leave-inner .8s $easeOutCubic forwards, fade-out .8s .2s forwards;
    }

    span {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      animation: leave-inner .6s $easeOutCubic forwards, fade-out .8s forwards;
    }
  }
}

/*** Play ***/

/*** Be Afraid Of ***/

.take-care-of .call-to-action, .be-afraid-of .call-to-action {
  background-color: #3f3f54;
  box-shadow: 0 2px 0 rgba(24, 25, 33, 1);
}

/*** Say ***/

.say {
  background-color: #3f3f54;

  p {
    font-size: 45px;
    line-height: 62px;
  }

  .call-to-action {
    background-color: #25c6da;
    box-shadow: 0 2px 0 rgba(66, 162, 179, 1);
  }

  & > div {
    height: 286px;
    margin: auto auto 0 auto;
  }
}

.section-container .say {
  &.enter-up {
    transform: translate3d(0, -100vh, 0);
  }

  &.leaved-up {
    transform: translate3d(0, 0, 0);
  }
}

@media all and (max-width: 1069px) {
  .section-container {
    .screens > section {
      padding-left: 10%;
    }
  }
}

@media all and (max-width: 899px) {
  .section-container {

    .screens > section {
      justify-content: flex-start;
      max-width: calc(100vw - 20%);
      padding-top: 2%;
      padding-left: 0;
    }

    .screens-container {
      justify-content: flex-start;
      padding: 0 10%;

      .phone {
        margin: 0;
        top: auto;
        bottom: -30%;
        right: auto;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }

    h2 {
      font-size: 24px;
      line-height: calc(24px * 1.3);
    }

    p, .call-to-action {
      font-size: 16px;
      line-height: calc(16px * 1.3);
    }

    .call-to-action {
      padding: 14px 35px
    }
  }
}

@media all and (max-width: 489px) {
  .section-container {

    .screens-container {

      .phone {
        bottom: -35%;
      }
    }
  }
}

@media all and (max-width: 354px) {
  .section-container {
    .screens-container {
      .phone {
        bottom: -40%;
      }
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes enter {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100vh, 0);
  }
}

@keyframes leave {
  from {
    transform: translate3d(0, -100vh, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes enter-inner {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leave-inner {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100px, 0);
  }
}