@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300,400,700');

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

/***********************/
/***  TouchUp rules  ***/
/***********************/

:root {
  --body-bg: #48c8bc;
  --cyan: #25c6da;
  --grey: #3f3f54;
  --light-grey: #7b7f8d;
  --blue-grey: rgba(66, 162, 179, 1);
  --green: #89d270;
  --dark-green: rgba(112, 173, 92, 1);
  --blue: #1a509c;
  --blue-gray: #E7F2F4;
  --dark-grey: rgba(25, 25, 33, 1);
  --white: #fff;
  --white-variant: #f0f5f7;
  --price: #f9c806;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-bg);
  color: var(--white);
  font-size: 17px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.lang-selector {
  a {
    font-weight: 20px;
    color: var(--white);
    font-weight: bold;
    opacity: .4;
    text-decoration: none;

    &.active {
      opacity: 1;
    }

    &:last-child::before {
      content: '|';
      height: 20px;
      position: relative;
      top: -3px;
      font-size: 12px;
      margin-right: 4px;
    }
  }
}

.sections-container {
  text-align: center;

  .touchup-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    position: relative;
    top: -48px;
  }

  & > section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    z-index: 0;
    padding: 0 120px;
    min-height: 95vh;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .take-care-of, .say {
    text-align: center;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 45px;
      line-height: 58.5px;
      font-weight: normal;
    }
  }

  .take-care-of {
    justify-content: center;
    padding-top: 35px;
    min-height: 100vh;

    .lang-selector {
      position: absolute;
      top: 15px; right: 40px;

      a {
        font-weight: 20px;
        color: var(--white);
        font-weight: bold;
        opacity: .4;
        text-decoration: none;

        &.active {
          opacity: 1;
        }

        &:last-child::before {
          content: '|';
          height: 20px;
          position: relative;
          top: -3px;
          font-size: 12px;
          margin-right: 4px;
        }
      }
    }
  }

  .say {
    justify-content: flex-end;
    min-height: 100vh;
  }

  article, .phone-clip-container {
    flex: 1;
  }

  article {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .phone-clip-container {
    position: relative;
    width: 270px; min-height: 100%;
    flex: 0 1 270px;

    .phone-clip {
      position: absolute;
      height: 100%;
      width: 100%;
      clip: rect(0,auto,auto,0);

      .phone-border, .phone-screen {
        will-change: right;
      }

      .phone-border {
        position: fixed;
        top: 83px;
        right: 124px;
        opacity: .4;
      }

      .phone-screen {
        position: fixed;
        top: 160px; right: 143px;
      }
    }
  }

  counter-reset: title;

  h2 {
    counter-increment: title;
    &::before {
      content: "#" counter(title);
      display: block;
      border-bottom: 3px solid var(--white);
      width: 40px;
      margin: 0 auto 38px auto;
    }
    font-weight: normal;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 45px;
    line-height: calc(36px * 1.3);
  }

  p {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .call-to-action {
    color: var(--white);
    padding: 14px 45px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    background-color: var(--body-bg);
    box-shadow: 0 2px 0 rgba(58, 161, 150, 1);
    text-decoration: none;
  }

}



/*** Take care of ***/
.take-care-of {
  background-color: #20C7B6;
}

#arrow-down {
  border-radius: 100%;
  border: 2px solid var(--white);
  padding: 5px;
  animation: bounce 2.5s cubic-bezier(.17,.67,.83,.67) infinite;
  will-change: width;
  margin-bottom: 10px;
  cursor: pointer;
}

#arrow-reflect {
  display: block;
  width: 5px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 20px;
  will-change: width;
  animation: stretch 2.5s cubic-bezier(.17,.67,.83,.67) infinite;
  opacity: .2;
}

@keyframes stretch {
  0% {
    width: 5px;
    opacity: .2;
  }

  10% {
    width: 45px;
    opacity: .6;
  }

  20% {
    width: 5px;
    opacity: .2;
  }

  100% {
    width: 5px;
    opacity: .2;
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0,0,0);
    width: 45px;
  }

  10% {
    transform: translate3d(0,10px,0);
    width: 55px;
  }

  20% {
    transform: translate3d(0,0px,0);
    width: 45px;
  }

  100% {
    transform: translate3d(0,0px,0);
    width: 45px;
  }
}

/*** Analyze ***/

.analyze, .keep, .forget {
  color: var(--grey);
  background-color: var(--white-variant);

  h2::before {
    border-color: var(--grey);
  }
}

.section-wrapper {
  position: relative;
  height: 100vh;
}

.keep {
  .call-to-action {
    background-color: var(--cyan);
    box-shadow: 0 2px 0 var(--blue-grey);
  }
}

/*** Play ***/

.play {
  background-color: var(--blue);

  .call-to-action {
    background-color: var(--green);
    box-shadow: 0 2px 0 var(--dark-green);
  }
}

/*** Be Afraid Of ***/

.be-afraid-of {
  background-color: var(--cyan);

  .call-to-action {
    background-color: var(--grey);
    box-shadow: 0 2px 0 var(--dark-grey);
  }
}

/*** Say ***/

.say {
  position: relative;
  background-color: var(--grey);
  justify-content: center;

  p {
    font-size: 45px;
    line-height: 62px;
  }

  .call-to-action {
    background-color: var(--cyan);
    box-shadow: 0 2px 0 var(--blue-grey);
  }

  #second-touch-up-logo {
    margin-top: 75px;
    margin-bottom: 40px;
  }

  #spock {
    height: 280px;
    overflow: hidden;
    margin: auto auto 0 auto;

    svg {
      overflow: hidden;
    }
  }

  .social-links {
    position: absolute;
    bottom: 0px;
    width: 100vw; height: 60px;
    display: flex;
    text-align: right;
    vertical-align: middle;
    justify-content: flex-end;
    padding-right: 30px;

    svg {
      border: 2px solid var(--white);
      border-radius: 100%;
      padding: 5px;
      margin-left: 30px;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

/*** List ***/

#list-touch-up-logo {
  width: 38px;
  height: 38px;
  margin-right: 15px;
  overflow: hidden;
  svg {
    position: relative;
    top: 5px;
    transform: scale(1.5);
  }
}

.list-container, .detail-container {
  display: grid;
  grid-template-areas:
          "header"
          "main"
          "footer";

  header {
    grid-area: header;
    padding: 0 40px;
    color: var(--white);
    align-items: center;

    & > a, & .action-wrapper > a {
      color: inherit;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
    }

    .lang-selector {
      margin: auto 0 auto auto;
    }
  }

  [role="main"] {
    grid-area: main;
    background-color: var(--white);

    .download-btn {
      display: inline-block;
      color: var(--white);
      background-color: var(--green);
      box-shadow: 0px 0px 2px var(--dark-green);
      padding: 14px 45px;
      border-radius: 30px;
      text-decoration: none;
    }
  }

  [data-content="-"] {
    display: none;
  }
}

.list-container {
  grid-template-rows: 60px minmax(calc(100vh - 60px - 301px), auto) minmax(301px, auto);

  header {
    display: flex;
    justify-content: flex-start;
  }

  [role="main"] {
    padding: 40px;
    color: var(--grey);
    text-align: center;

    h1, & > p {
      max-width: 500px;
      margin: 0 auto 25px auto;
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-column-gap: 20px;
    grid-template-rows: initial;
    grid-row-gap: 20px;
    max-width: 790px;
    margin: 0 auto 45px auto;

    .card {
      position: relative;
      text-align: center;
      background-color: var(--white);
      border-radius: 5px;
      padding: 20px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);

      & > a {
        display: flex;
        flex-direction: column;
        min-height: 250px;
        position: relative;
        justify-content: center;
        text-decoration: none;
      }

      &-last {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 140px; height: 140px;
        border-radius: 140px;
        background-color: rgb(188,187,188);
        grid-area: picture;
        margin: 0 auto;
      }

      h3, h4 {
        font-weight: normal;
        margin: 0;
      }

      h3 {
        font-size: 20px;
        grid-area: title;
        color: var(--grey);
        margin-top: 14px;
      }

      h4 {
        grid-area: subtitle;
        font-size: 15px;
        color: var(--light-grey);

        &[data-content^="<%="] {
          display: none;
        }
      }

      span[data-price] {
        position: absolute;
        display: inline-block;
        background-color: var(--price);
        color: var(--white);
        top: 0; right: -20px;
        padding: 2px 10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        font-size: 14px;
        font-weight: bold;
      }

      span[data-price="free"] {
        display: none;
      }

      &-more {
        display: flex;
        justifiy-content: center;
        align-items: center;
      }
    }
  }

  footer{
    grid-area: footer;
  }
}

.detail-container {
  color: var(--grey);
  grid-template-rows: minmax(320px, auto) minmax(calc(100vh - 320px - 301px), auto) minmax(301px, auto);
  background-color: var(--white);

  header, [role="main"] {
    width: 100vw;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 320px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    .action-wrapper {
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center;
      & > a {
        line-height: 38px;
      }

      .lang-selector {
        grid-area: lang-selector;
      }
    }

    & > img {
      grid-area: picture;
      margin: 0 auto;
      width: 180px; height: 180px;
    }
  }
  [role="main"] {
    padding: 0 60px;
    text-align: center;
    display: flex;
    justify-content: center;

    .wrapper {
      max-width: 600px;

      & > a {
        margin-bottom: 40px;
      }
    }

    h1, h2 {
      font-weight: normal;
    }
    h1 {
      font-size: 36px;
      margin: 44px 0 4px 0;
      line-height: 40px;
    }

    h2 {
      font-size: 17px;
      color: var(--light-grey);
      margin:0 0 24px 0;
    }

    iframe {
      display: block;
      max-width: 100%;
      margin: 0 auto 60px auto;

      display: block;
    }

    iframe[identifier^="{{"] {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      &:first-child {
        margin-top: 30px;
      }

      &:last-child {
        display: none;
      }

      a {
        position: relative;
        color: var(--cyan);
        text-decoration: none;
        font-size: 20px;

        &:first-child {
          padding-left: 30px;
          margin-right: 10px;
          text-align: left;
        }

        &:last-child {
          padding-right: 30px;
          margin-left: 10px;
          text-align: right;
        }
      }

      a:first-child::before, a:last-child::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: block;
        width: 10px; height: 18px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMjVDNkRBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjA3MSAwTC42NTcgMS40MTQgNy4wMiA3Ljc3OGwxLjQxNC0xLjQxNHoiLz48cGF0aCBkPSJNLjY1NyAxMS4zMTRsMS40MTQgMS40MTQgNi4zNjQtNi4zNjRMNy4wMjEgNC45NXoiLz48L2c+PC9zdmc+);
        background-repeat: no-repeat;
        background-size: 10px 18px;
      }

      a:first-child::before {
        left: 10px;
        transform: translateY(-50%) rotateZ(-180deg);
      }

      a:last-child::after {
        right: 10px;
      }
    }
  }
}

.page-who-we-are {
  [role="main"] {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 36px;
      font-weight: normal;
    }

    .bio {
      margin-bottom: 90px;
    }

    h2, a {
      color: var(--cyan);
    }

    h2 {
      font-size: 25px;
      font-weight: normal;
    }

    a {
      margin: 0 5px;
    }
  }
  .wrapper {
    max-width: 600px;

    & > p {
      margin-bottom: 46px;
    }
  }
}

.page-terms-of-sale {
  [role="main"] {
    text-align: justify;

    h1 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    section {
      max-width: 960px;
      margin: auto;
    }
  }

  section {
    margin-bottom: 65px;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }

  ul {
    list-style: none;
    margin: 0; padding: 0;
  }
}

footer {
  background-color: var(--white-variant);
  display: grid;
  grid-template-areas:
    "more about like"
    "credits credits credits";
  justify-items: start;
  text-align: left;
  padding: 60px 70px;

  section:first-child {
    grid-area: more;
  }

  section:nth-child(2){
    grid-area: about;
  }

  section:nth-child(3) {
    grid-area: like;
  }

  section:last-child {
    grid-area: credits;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      margin: 0;
      color: var(--light-grey);
    }
    a {
      margin: 0;
      display: inline-block;
      color: var(--cyan);
      text-decoration: underline;
    }
  }

  h3 {
    color: var(--grey);
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px
  }

  nav {
    display: block;
  }

  a {
    display: block;
    color: var(--light-grey);
    margin-bottom: 20px;
    text-decoration: none;
  }
}

@media all and (min-width: 1100px) {

  .sections-container {
    article {
      max-width: 500px;
    }

    .touchup-title {
      top: -28px;
    }
  }

  .touch-up-logo {
    transform: scale(1.5);
  }

}

@media all and (max-width: 870px) {

  body {
    font-size: 15px;
  }

  .sections-container {

    .take-care-of {
      h1 {
        font-size: 30px;
        line-height: 40px;
      }

      .lang-selector {
        right: 20px;
        a {
          font-size: 15px;
        }
      }
    }

    section {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      min-height: initial;

      article {
        padding: 0;
      }
    }

    h2 {
      font-size: 30px;
      margin-top: 35px;
      margin-bottom: 15px;
      &::before {
        display: none;
      }
    }

    p, .call-to-action {
      margin-bottom: 30px;
    }

    .call-to-action {
      padding: 14px 35px
    }

    .phone-clip-container {
      position: static;
      width: 250px;
      flex: 0 1 auto;
      min-height: initial;
      margin-bottom: 30px;

      .phone-clip {
        position: relative;
        top: 0; right: 0;
        height: auto;
        width: auto;
        min-height: 530px;

        .phone-border {
          position: absolute;
          top: 0; left: 0;
        }

        img:last-child {
          position: inherit;
          top: 77px; left: 1px;
        }
      }
    }

    .say {
      .social-links {
        position: static;
        justify-content: center;
      }
    }
  }
  .list-container, .detail-container {
    header {
      & > div {
        display: none;
      }
    }
  }

  .list-container {
    header {
      padding: 0 20px;

      & > a {
        margin-left: 0;
      }
    }

    [role="main"] {
      padding: 20px;

      .wrapper {
        & > a {
          margin-bottom: 45px;
        }
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      .card {
        margin-bottom: 15px;
        text-align: left;

        & > a {
          min-height: auto;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          display: flex;
          grid-template-areas: "picture title";
        }

        img {
          width: 70px; height: 70px;
          border-radius: 70px;
          margin: initial;
        }

        h3, h4 {
          margin-left: 15px;
        }

        h3 {
          margin-top: 0px;
          font-size: 15px;
          font-weight: bold;
        }

        span[data-price] {
          top: -20px;
          right: -5px;
          border-bottom-right-radius: 6px;
          border-top-left-radius: 0;
        }

        &::after {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          content: '';
          display: block;
          width: 10px; height: 18px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMjVDNkRBIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjA3MSAwTC42NTcgMS40MTQgNy4wMiA3Ljc3OGwxLjQxNC0xLjQxNHoiLz48cGF0aCBkPSJNLjY1NyAxMS4zMTRsMS40MTQgMS40MTQgNi4zNjQtNi4zNjRMNy4wMjEgNC45NXoiLz48L2c+PC9zdmc+);
          background-repeat: no-repeat;
          background-size: 10px 18px;
        }
      }

      .card-more {
        &::after {
          display: none;
        }
      }
    }
  }

  .detail-container {
    header {
      background-size: contain;
      padding: 0 20px;

      a {
        padding-left: 0;
      }

      .action-wrapper {
        display: flex;
      }
    }

    [role="main"] {
      nav {
        a {
          font-size: 14px;
          line-height: 18px;
          width: 50px; height: 40px;
          background-color: var(--blue-gray);
          border-radius: 4px;
          overflow: hidden;
          color: transparent;

          &:first-child:before {
            left: 20px;
          }

          &:last-child:after {
            right: 20px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;

    section {
      margin-bottom: 20px;
    }
  }
}
