@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700');

/***********************/
/***  TouchUp rules  ***/
/***********************/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.slide-container {
  background-color: #48c8bc;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  transition: background-color .4s;

  &--take-care-of {
    background-color: #48c8bc;
  }

  &--play {
    background-color: #1a509c;
  }

  &--be-afraid-of {
    background-color: #25c6da;
  }

  &--say {
    background-color: #3f3f54;
  }

}

nav {
  position: fixed;
  top: 0;
  right: 30px;
  width: 12px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  li {
    display: block;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #ffffff;
    margin: 0 0 15px 0;
    cursor: pointer;
    will-change: background-color;
    transition: background-color .4s;

    &:hover {
      background-color: #2c2c3b;
    }
  }
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
}

h2 {
  font-weight: normal;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: calc(36px * 1.3);
}

p {
  margin-top: 0;
  margin-bottom: 25px;
}

.call-to-action {
  color: #fff;
  padding: 14px 45px;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  background-color: #48c8bc;
  box-shadow: 0 2px 0 rgba(58, 161, 150, 1);
}

.section__content {
  max-width: 450px;
  text-align: center;
}

.section__phone {
  width: 250px;
  height: 520px;
  margin-left: 100px;
  background: url("images/img-phone-empty.png") no-repeat;
  background-size: contain;
}

/*** Take care of ***/
.take-care-of {
  text-align: center;
  flex-direction: column;

  p {
    font-size: 45px;
    line-height: 58.5px;
  }
}

/*** Analyze ***/

.analyze, .keep, .forget {
  color: #3f3f54;
}

/*** Play ***/

/*** Be Afraid Of ***/

.take-care-of .call-to-action, .be-afraid-of .call-to-action {
  background-color: #3f3f54;
  box-shadow: 0 2px 0 rgba(24, 25, 33, 1);
}

.say {
  p {
    font-size: 45px;
    line-height: 62px;
  }

  .call-to-action {
    background-color: #25c6da;
    box-shadow: 0 2px 0 rgba(66, 162, 179, 1);
  }
}