@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300,400,700');

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

/***********************/
/***  TouchUp rules  ***/
/***********************/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #48c8bc;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.sections-container {
  text-align: center;

  .touchup-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    position: relative;
    top: -48px;
  }

  & > section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    z-index: 0;
    padding: 0 120px;
    min-height: 700px;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .take-care-of, .say {
    text-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    p {
      font-size: 45px;
      line-height: 58.5px;
    }
  }

  .take-care-of {
    justify-content: center;
    .lang-selector {
      position: absolute;
      top: 15px; right: 40px;

      a {
        font-weight: 20px;
        color: #fff;
        font-weight: bold;
        opacity: .4;
        text-decoration: none;

        &.active {
          opacity: 1;
        }

        &:last-child::before {
          content: '|';
          height: 20px;
          position: relative;
          top: -3px;
          font-size: 12px;
          margin-right: 4px;
        }
      }
    }
  }

  .say {
    justify-content: flex-end;
  }

  article, .phone-clip-container {
    flex: 1;
  }

  article {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .phone-clip-container {
    position: relative;
    width: 270px; min-height: 100%;
    flex: 0 1 270px;

    .phone-clip {
      position: absolute;
      height: 100%;
      width: 100%;
      clip: rect(0,auto,auto,0);

      .phone-border {
        position: fixed;
        top: 83px;
        right: 124px;
        opacity: .4;
      }

      .phone-screen {
        position: fixed;
        top: 160px; right: 143px;
      }
    }
  }

  counter-reset: title;

  h2 {
    counter-increment: title;
    &::before {
      content: "#" counter(title);
      display: block;
      border-bottom: 3px solid #fff;
      width: 40px;
      margin: 0 auto 38px auto;
    }
    font-weight: normal;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 45px;
    line-height: calc(36px * 1.3);
  }

  p {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .call-to-action {
    color: #fff;
    padding: 14px 45px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    background-color: #48c8bc;
    box-shadow: 0 2px 0 rgba(58, 161, 150, 1);
    text-decoration: none;
  }

}



/*** Take care of ***/
.take-care-of {
  background-color: #48c8bc;
}

#arrow-down {
  border-radius: 100%;
  border: 2px solid #fff;
  padding: 5px;
}

/*** Analyze ***/

.analyze, .keep, .forget {
  color: #3f3f54;
  background-color: #f0f5f7;

  h2::before {
    border-color: #3f3f54;
  }
}

.section-wrapper {
  position: relative;
  height: 100vh;
}

.keep {
  .call-to-action {
    background-color: #25c6da;
    box-shadow: 0 2px 0 rgba(66, 162, 179, 1);
  }
}

/*** Play ***/

.play {
  background-color: #1a509c;

  .call-to-action {
    background-color: #89d270;
    box-shadow: 0 2px 0 rgba(112, 173, 92, 1);
  }
}

/*** Be Afraid Of ***/

.be-afraid-of {
  background-color: #25c6da;

  .call-to-action {
    background-color: #3f3f54;
    box-shadow: 0 2px 0 rgba(25, 25, 33, 1);
  }
}

footer {
  background-color: #f0f5f7;
  display: grid;
  grid-template-areas:
    "more about like";
  justify-items: start;
  text-align: left;
  padding: 60px 70px;

  section:first-child {
    grid-area: more;
  }

  section:nth-child(2){
    grid-area: about;
    a:last-child {
      opacity: .4;
    }
  }

  section:last-child {
    grid-area: like;
  }

  h3 {
    color: #3f3f54;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px
  }

  nav {
    display: block;
  }

  a {
    display: block;
    color: #7b7f8d;
    margin-bottom: 20px;
    text-decoration: none;
  }
}

/*** Say ***/

.say {
  position: relative;
  background-color: #3f3f54;
  justify-content: center;

  p {
    font-size: 45px;
    line-height: 62px;
  }

  .call-to-action {
    background-color: #25c6da;
    box-shadow: 0 2px 0 rgba(66, 162, 179, 1);
  }

  #second-touch-up-logo {
    margin-top: 75px;
    margin-bottom: 40px;
  }

  #spock {
    height: 280px;
    overflow: hidden;
    margin: auto auto 0 auto;

    svg {
      overflow: hidden;
    }
  }

  .social-links {
    position: absolute;
    bottom: 0px;
    width: 100vw; height: 60px;
    display: flex;
    text-align: right;
    vertical-align: middle;
    justify-content: flex-end;
    padding-right: 30px;

    svg {
      border: 2px solid #fff;
      border-radius: 100%;
      padding: 5px;
      margin-left: 30px;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

@media all and (max-width: 870px) {

  #arrow-down {
    margin-bottom: 100px;
  }

  .sections-container {

    .take-care-of {
      h1 {
        font-size: 30px;
        line-height: 40px;
      }

      .lang-selector {
        right: 20px;
        a {
          font-size: 15px;
        }
      }
    }

    section {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      min-height: initial;

      article {
        padding: 0;
      }
    }

    h2 {
      margin-top: 35px;
      &::before {
        display: none;
      }
    }

    p, .call-to-action {
      margin-bottom: 30px;
    }

    .call-to-action {
      padding: 14px 35px
    }

    .phone-clip-container {
      position: static;
      width: 250px;
      flex: 0 1 auto;
      min-height: initial;
      margin-bottom: 30px;

      .phone-clip {
        position: relative;
        top: 0; right: 0;
        height: auto;
        width: auto;
        min-height: 530px;

        .phone-border {
          position: absolute;
          top: 0; left: 0;
        }

        img:last-child {
          position: inherit;
          top: 77px; left: 1px;
        }
      }
    }

    .say {
      .social-links {
        position: static;
        justify-content: center;
      }
    }
  }
}